<div class="row">
    <div class="col-md-10 col-md-offset-1 col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1">
        <form class="form-horizontal" [formGroup]="miniSearchForm" role="form">

            <h3 style="text-align: center; margin-top: 10px">Find your favorite place for holiday!</h3>
            <p style="text-align: center;">From comfortable village's houses to chic city's flats</p>
            <hr>

            <div class="row">
                <div class="form-group col-md-3 col-xs-3 col-sm-3" style="margin-left: 25px; margin-right: 5px">
                    <label class="control-label" for="textinput">City</label>
                    <div>
                        <input formControlName="city" type="text" class="form-control border-input" id="city" placeholder="City">
                    </div>
                </div>

                <div class="form-group col-md-2 col-xs-2 col-sm-2" style="margin-left: 5px; margin-right: 5px">
                    <label class=" control-label " for="textinput ">Number of people</label>
                    <div>
                        <input formControlName="numberOfPeople" type="text " class="form-control border-input " id="numberOfPeople" placeholder="Number of people ">
                    </div>
                </div>


                <div class="form-group col-md-4 col-xs-4 col-sm-4" style="margin-left: 5px; margin-right: 5px">
                    <label>Date</label>
                    <div>
                        <my-date-range-picker class="pickerStyle col-md-12" formControlName="date" name="date" [options]="myDateRangePickerOptions"
                            placeholder="Date"></my-date-range-picker>
                    </div>
                </div>

                <div class="btn-group col-md-1 col-xs-1 col-sm-1" role="group" style="margin-top: 27px">
                    <button type="button" class="btn btn-primary" style="cursor: pointer;" (click)="searchData()" role="button ">Search
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                </div>



            </div>
            <div *ngIf="accommodationCategory || accommodationType || additionalServices" class="row">
                <a class="text-primary text-muted pull-right small" style="margin-right: 120px; cursor: pointer;" (click)="showAdvanceSearch()">Advance search</a>
            </div>

            <div [hidden]="advanceSearch" class="row">
                <div *ngIf="accommodationCategory" class="form-group col-md-3 col-xs-3 col-sm-3" style="margin-left: 55px; margin-right: 5px">
                    <label class=" control-label " for="textinput ">Accommodation Category</label>
                    <ul>
                        <li *ngFor="let category of accommodationCategory" class="checkbox">
                            <input type="checkbox" id="{{category}}" (change)="selectCategory($event, category)">&nbsp;{{category.name}}
                        </li>
                    </ul>
                </div>

                <div *ngIf="accommodationType" class="form-group col-md-3 col-xs-3 col-sm-3" style="margin-left: 5px; margin-right: 5px">
                    <label class=" control-label " for="textinput ">Accommodation Type</label>
                    <ul>
                        <li *ngFor="let type of accommodationType" class="checkbox">
                            <input type="checkbox" id="{{type}}" (change)="selectType($event, type)">&nbsp;{{type.name}}
                        </li>
                    </ul>
                </div>

                <div *ngIf="additionalServices" class="form-group col-md-3 col-xs-3 col-sm-3" style="margin-left: 5px; margin-right: 5px">
                    <label class=" control-label " for="textinput">Additional Services</label>
                    <ul>
                        <li *ngFor="let service of additionalServices" class="checkbox">
                            <input type="checkbox" id="{{service}}" (change)="selectServices($event, service)">&nbsp;{{service.name}}
                        </li>
                    </ul>
                </div>
            </div>
        </form>

    </div>
</div>