<div class="container">
  <div class="card">
    <div class="wrapper row">
      <div class="preview col-md-6">

        <div class="preview-pic tab-content">
          <div class="tab-pane active" id="pic-1">
            <img *ngIf="previewImages[0]" class="img-responsive" [src]="previewImages[0]" />
            <img *ngIf="!previewImages[0]" src="assets/img/empty-profile.png" />
          </div>
          <div *ngIf="previewImages[1]" class="tab-pane" id="pic-2">
            <img [src]="previewImages[1]" />
          </div>
          <div *ngIf="previewImages[2]" class="tab-pane" id="pic-3">
            <img [src]="previewImages[2]" />
          </div>
          <div *ngIf="previewImages[3]" class="tab-pane" id="pic-4">
            <img [src]="previewImages[3]" />
          </div>
          <div *ngIf="previewImages[4]" class="tab-pane" id="pic-5">
            <img [src]="previewImages[4]" />
          </div>
        </div>
        <ul class="preview-thumbnail nav nav-tabs">
          <li *ngIf="previewImages[0]" class="active">
            <a data-target="#pic-1" data-toggle="tab">
              <img class="img-responsive" [src]="previewImages[0]" />
            </a>
          </li>
          <li *ngIf="previewImages[1]">
            <a data-target="#pic-2" data-toggle="tab">
              <img [src]="previewImages[1]" />
            </a>
          </li>
          <li *ngIf="previewImages[2]">
            <a data-target="#pic-3" data-toggle="tab">
              <img [src]="previewImages[2]" />
            </a>
          </li>
          <li *ngIf="previewImages[3]">
            <a data-target="#pic-4" data-toggle="tab">
              <img [src]="previewImages[3]" />
            </a>
          </li>
          <li *ngIf="previewImages[4]">
            <a data-target="#pic-5" data-toggle="tab">
              <img [src]="previewImages[4]" />
            </a>
          </li>
        </ul>

      </div>
      <div class="details col-md-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="title">{{accommodation?.name}}</h3>
          </div>
          <div class="panel-body">
            <p class="description" style="color:brown">{{accommodation?.address}}</p>
            <p class="description">{{ (accommodation?.description.length > 100)? (accommodation?.description | slice:0:100)+'..':(accommodation?.description)
              }}
            </p>
            <p class="description">Available for: {{accommodation?.numberOfPeople}} person
            </p>
            <p class="category">
              <strong>{{accommodation?.accommodationType?.name}}</strong>
              <strong>{{accommodation?.accommodationCategory?.name}}</strong>
            </p>
            <!-- DODATNE USLUGE -->
            <h5 *ngIf="accommodation.additionalServices.length" class="colors">AdditionalServices:
              <span ngFor="let service of accommodation.additionalServices">{{service}},</span>&nbsp;
            </h5>

            <div class="form-group">
              <my-date-range-picker (dateRangeChanged)="onDateRangeChanged($event)" name="date" [options]="myDateRangePickerOptions" placeholder="Select your date for reservation"></my-date-range-picker>
            </div>
            <br>
            <br>
          </div>
          <div class="panel-footer">
            <div class="action">
              <button class="add-to-cart btn btn-default" [disabled]="disableReserve" (click)="reserve(confirmDialog)" type="button ">Reserve
                <span class="fa fa-heart "></span>
              </button>
            </div>
          </div>
        </div>
        <!-- <div class="rating ">
          <div class="stars ">
            <span class="fa fa-star checked "></span>
            <span class="fa fa-star checked "></span>
            <span class="fa fa-star checked "></span>
            <span class="fa fa-star "></span>
            <span class="fa fa-star "></span>
          </div>
          <span class="review-no ">41 reviews</span>
        </div> -->




      </div>
    </div>
  </div>
</div>


<ng-template #confirmDialog>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Confirm</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>The price of your reservation is
      <strong>{{totalPrice}}</strong>. To continue with reservation click YES!</p>
  </div>
  <div class="modal-footer">
    <button class="btn btn-success" type="button" (click)="makeReservation()">Yes</button>
    <button class="btn btn-danger" type="button" (click)="cancel()">No</button>
  </div>
</ng-template>