<div class="container">
  <div class="card">
    <!-- <div class="container-fliud"> -->
    <div class="wrapper row">
      <div class="preview col-md-6">

        <div class="preview-pic tab-content">
          <div class="tab-pane active" id="pic-1">
            <img src="http://placekitten.com/400/252" />
          </div>
          <div class="tab-pane" id="pic-2">
            <img src="http://placekitten.com/400/252" />
          </div>
          <div class="tab-pane" id="pic-3">
            <img src="http://placekitten.com/400/252" />
          </div>
          <div class="tab-pane" id="pic-4">
            <img src="http://placekitten.com/400/252" />
          </div>
          <div class="tab-pane" id="pic-5">
            <img src="http://placekitten.com/400/252" />
          </div>
        </div>
        <ul class="preview-thumbnail nav nav-tabs">
          <li class="active">
            <a data-target="#pic-1" data-toggle="tab">
              <img src="http://placekitten.com/200/126" />
            </a>
          </li>
          <li>
            <a data-target="#pic-2" data-toggle="tab">
              <img src="http://placekitten.com/200/126" />
            </a>
          </li>
          <li>
            <a data-target="#pic-3" data-toggle="tab">
              <img src="http://placekitten.com/200/126" />
            </a>
          </li>
          <li>
            <a data-target="#pic-4" data-toggle="tab">
              <img src="http://placekitten.com/200/126" />
            </a>
          </li>
          <li>
            <a data-target="#pic-5" data-toggle="tab">
              <img src="http://placekitten.com/200/126" />
            </a>
          </li>
        </ul>

      </div>
      <div class="details col-md-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="title">{{accommodation?.name}}</h3>
          </div>
          <div class="panel-body">
            <p class="description" style="color:brown">{{accommodation?.address}}</p>
            <p class="description">{{ (accommodation?.description.length > 100)? (accommodation?.description | slice:0:100)+'..':(accommodation?.description)
              }}
            </p>
            <p class="description">Available for: {{accommodation?.numberOfPeople}} person
            </p>
            <p class="category">
              <strong>{{accommodation?.accommodationType?.name}}</strong>
              <strong>{{accommodation?.accommodationCategory?.name}}</strong>
            </p>
            <!-- DODATNE USLUGE -->
            <h5 *ngIf="accommodation.additionalServices.length" class="colors">AdditionalServices:
              <span ngFor="let service of accommodation.additionalServices">{{service}},</span>&nbsp;
            </h5>

            <div class="form-group">
              <my-date-range-picker (dateRangeChanged)="onDateRangeChanged($event)" style="position: fixed;" name="date" [options]="myDateRangePickerOptions"
                placeholder="Select your date for reservation"></my-date-range-picker>
            </div>
            <br>
            <br>
          </div>
          <div class="panel-footer">
            <div class="action">
              <button class="add-to-cart btn btn-default" [disabled]="temp" (click)="reserve()" type="button">Reserve
                <span class="fa fa-heart"></span>
              </button>
            </div>
          </div>
        </div>
        <!-- <div class="rating">
          <div class="stars">
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
          </div>
          <span class="review-no">41 reviews</span>
        </div> -->




      </div>
    </div>
    <!-- </div> -->
  </div>
</div>