<div class="container">
    <div class="row" style="margin-top: 20px">
        <app-thumbnail-accommodation *ngFor="let accommodation of accommodations" [accommodation]="accommodation"></app-thumbnail-accommodation>
    </div>
    <!-- <div class="row">
        <app-thumbnail-accommodation *ngFor="let accommodation of accommodations | slice:4:8" [accommodation]="accommodation"></app-thumbnail-accommodation>
    </div> -->
    <div class="row">
        <app-pagination [totalNumber]="totalNumber"></app-pagination>
    </div>
</div>