<div class="col-sm-3 col-lg-3 col-md-3">
  <div class="thumbnail" *ngIf="accommodation">
    <img class="img-responsive" [src]="previewImage">
    <div class="caption">
      <h3 style=" text-align: center">
        <a style="cursor: pointer" routerLink="{{accommodation?.id}}">{{accommodation?.name}}</a>
      </h3>
      <p>{{ (accommodation?.description.length > 60)? (accommodation?.description | slice:0:60)+'..':(accommodation?.description)
        }}
      </p>
    </div>
    <div class="address">
      <p>Address: {{accommodation?.address}}</p>
    </div>
    <!-- <div class="ratings ">
        <p class="pull-right ">12 reviews</p>
        <p>
          <span class="glyphicon glyphicon-star "></span>
          <span class="glyphicon glyphicon-star "></span>
          <span class="glyphicon glyphicon-star "></span>
          <span class="glyphicon glyphicon-star "></span>
          <span class="glyphicon glyphicon-star-empty "></span>
        </p>
      </div> -->
  </div>
</div>