<nav class="navbar navbar-inverse navbar-static-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a style="cursor: pointer;" class="navbar-brand">Home</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav pull-left">

      </ul>
      <ul class="nav navbar-nav pull-right">
        <li>
          <a data-toggle="modal" data-target="#login-modal" role="button">Sign In</a>
        </li>
        <li>
          <a data-toggle="modal" data-target="#register-modal" role="button">Sign Up</a>
        </li>
        <li>
          <a role="button">
            <span class="glyphicon glyphicon-share"></span>&nbsp;Logout
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- <router-outlet></router-outlet> -->
<!-- <div class="wrapper"> -->
<!-- <div id="modal-dialogs">
    <div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
      <app-sign-in></app-sign-in>
    </div>
    <div class="modal fade" id="register-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
      style="display: none;">
      <app-sign-up></app-sign-up>
    </div>
    <div class="modal fade" id="searchModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
      <app-search-modal></app-search-modal>
    </div>

  </div>
  <div *ngIf="loggedUser" class="sidebar" data-background-color="black" data-active-color="danger">
    <app-sidebar></app-sidebar>
  </div>
  <div [ngClass]="{'resize': !loggedUser}" class="main-panel">
    <div class="content">
      <router-outlet></router-outlet>
      <div>
      </div>
    </div>
  </div> -->
<!-- </div> -->