<nav class="navbar navbar-inverse navbar-static-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a routerLink="/home" style="cursor: pointer;" class="navbar-brand">Home</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav pull-left">

      </ul>
      <ul class="nav navbar-nav pull-right">
        <li>
          <a (click)="openModal(logIn)" role="button">Sign In</a>
        </li>
        <li>
          <a (click)="openModal(signUp)" role="button">Sign Up</a>
        </li>
        <li>
          <a role="button">
            <span class="glyphicon glyphicon-share"></span>&nbsp;Logout
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>


<ng-template #logIn>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Sign In</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div *ngIf="isLoginError" class="red-text center error-message">
      <i class="material-icons">error</i> Incorrect username or password
    </div>
  <form #loginForm="ngForm" class="col s12 white" (ngSubmit)="OnSubmit(UserName.value,Password.value)">
     <div class="row">
       <div class="input-field col s12">
         <i class="material-icons prefix">account_circle</i>
         <input type="text" #UserName ngModel name="UserName" placeholder="Username" required>
       </div>
     </div>
     <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">vpn_key</i>
          <input type="password" #Password ngModel name="Password" placeholder="Password" required>
        </div>
      </div>
      <div class="row">
          <div class="input-field col s12">
            <button [disabled]="!loginForm.valid" class="btn-large btn-submit" type="submit">Login</button>
          </div>
        </div>
  </form>
</ng-template>


<ng-template #signUp>
  <div class="modal-header">
      <h4 class="modal-title pull-left">Sign Up</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
          <span aria-hidden="true">&times;</span>
      </button>
  </div>
  <div class="modal-body">
    <form class="col s12 white" #userRegistrationForm="ngForm" (ngSubmit)="OnSubmit(userRegistrationForm)">
      <div class="row">
        <div class="input-field col s6">
          <input class="validate" type="text" name="UserName" #UserName="ngModel" [(ngModel)]="user.UserName" required>
          <label data-error="Required field!">UserName</label>
        </div>
        <div class="input-field col s6">
          <input class="validate" type="password" name="Password" #Password="ngModel" [(ngModel)]="user.Password" required minlength="3">
          <label [attr.data-error]="Password.errors!=null?(Password.errors.required?'Required field!':'Minimum 3 characters needed'):''">Password</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <input class="validate" type="text" name="Email" #Email="ngModel" [(ngModel)]="user.Email" [pattern]="emailPattern">
          <label data-error="Invalid email!">Email</label>
        </div>
        <div class="input-field col s6">
          <input class="validate" type="text" name="Phone" #Phone="ngModel" [(ngModel)]="user.Phone" [pattern]="phonePattern">
          <label data-error="Invalid phone!">Phone</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <input type="text" name="FirstName" #FirstName="ngModel" [(ngModel)]="user.FirstName">
          <label>First Name</label>
        </div>
        <div class="input-field col s6">
          <input type="text" name="LastName" #LastName="ngModel" [(ngModel)]="user.LastName">
          <label>Last Name</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <button [disabled]="!userRegistrationForm.valid" class="btn-large btn-submit" type="submit">Submit</button>
        </div>
      </div>
    </form>
  </div>
  
</ng-template>


<router-outlet></router-outlet>