<nav class="navbar navbar-inverse navbar-static-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a routerLink="/home" style="cursor: pointer;" class="navbar-brand">Home</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav pull-left">

      </ul>
      <ul class="nav navbar-nav pull-right">
        <li>
          <a (click)="openModal(logIn)" role="button">Sign In</a>
        </li>
        <li>
          <a (click)="openModal(signUp)" role="button">Sign Up</a>
        </li>
        <li>
          <a [hidden]="true" role="button">
            <span class="glyphicon glyphicon-share"></span>&nbsp;Logout
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>



<ng-template #logIn>
  <div class="modal-header">
      <h4 class="modal-title pull-left">Sign In</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
          <span aria-hidden="true">&times;</span>
      </button>
  </div>
  <div class="modal-body">
      <form [formGroup]="loginForm" role="form" >
          <div class="form-group">
            <input type="text" formControlName="username" class="form-control" placeholder="Username" >
          </div>
          <div class="form-group">
              <input type="password" formControlName="password" class="form-control" placeholder="Password" >
            </div>
            <div class="modal-footer" role="group">
              <button  (click)="logIn()" [disabled] = "!loginForm.valid"  class="btn btn-primary btn-block">Log In</button>
            </div>
        </form>
  </div>
  
</ng-template>


<ng-template #signUp>
  <div class="modal-header">
      <h4 class="modal-title pull-left">Sign Up</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
          <span aria-hidden="true">&times;</span>
      </button>
  </div>
  <div class="modal-body">
      <form [formGroup]="registerForm" role="form">
          <div class="form-group">
              <input type="text" formControlName="username" class="form-control" placeholder="Username" >
          </div>
          <div class="form-group">
              <input type="password" formControlName="password" class="form-control" placeholder="Password" >
            </div>
            <div class="form-group">
              <input type="email" formControlName="email" class="form-control" placeholder="E-Mail" >
            </div>
            <div class="form-group">
              <input type="text" formControlName="fname" class="form-control" placeholder="First name">
            </div>
            <div class="form-group">
              <input type="text" formControlName="sname" class="form-control" placeholder="Second name" >
            </div>
            <div class="form-group">
              <input type="text" formControlName="city" class="form-control" placeholder="City" >
            </div>
            <div class="form-group">
              <input  type="text" formControlName="phone" class="form-control" placeholder="Phone number">
            </div>
            <div>
              <img width="80" height="80" [src]="url">
              <br><br><br>
            </div>
            <div class="form-group">
              <input  type="file" class="form-control" (change)="preview($event)" accept="image/*">
            </div>
            <div class="modal-footer">
              <button [disabled]="!registerForm.valid" class="btn btn-primary btn-block">Sign Up</button>
            </div>
          </form>
  </div>
  
</ng-template>


<router-outlet></router-outlet>
