@import url('https://unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css');
@import "~ng-pick-datetime/assets/style/picker.min.css";

.modal-backdrop {
  /* bug fix - no overlay */    
  display: none;    
}
   .modal {
    text-align: center;
  }
/*   
  @media screen and (min-width: 768px) { 
    .modal:before {
      display: inline-block;
      vertical-align: middle;
      content: " ";
      height: 100%;
    }
  } */

