
.main-panel {
  background-color: #f4f3ef;
  position: relative;
  z-index: 2;
  float: right;
  /* height: 620px; */
  overflow-y: auto;
  width: 100%;
  min-height: 100%;
}

.sidebar {
  position: relative;
  max-height: 100%;
  min-height: 100%;
  /* height: 620px; */
  overflow: hidden;
  width: 100%;
  z-index: 4;
  box-shadow: inset -1px 0px 0px 0px #DDDDDD;
  background-color: lightgray;
}